body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: medium;
    color:#333;
    background: #C2B9B0;
}

p {
    padding: 10px;
}

#wrapper {
    margin: 0 auto;
    width: 1000px;
}


#header {
    height: 70px;
    background: #E7717D;
    border-radius: 10px;
    border: 1px solid #E7717E;
    margin: 5px;
}

#navigationwrap {
    width: 1000px;
    float: left;
    margin: 0 auto;
}

#navigation {
    height: 40px;
    background: #C9B1D0;
    border-radius: 10px;
    border: 1px solid #b59dbc;
    margin: 5px;
}

#contentwrap {
    width: 1000;
    float: left;
    margin: 0 auto;
}

#content {
    background: rgb(122, 108, 94);
    border-radius: 10px;
    border: 1px solid #C2b9bc;
    margin: 5px;
    font-size: bold;
}

#pic{position:center;}
