body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: medium;
    color:#333;
    background: #7E685A;
}

p {
    padding: 10px;
}

#wrapper {
    margin: 0 auto;
    width: 1000px;
}

#headerwrap {
    width: 1000px;
    float: left;
    margin: 0 auto;
}

#header {
    height: 70px;
    background: #C2B9B0;
    border-radius: 10px;
    border: 1px solid #aea59c;
    margin: 5px;
}

#navigationwrap {
    width: 1000px;
    float: left;
    margin: 0 auto;
}

#navigation {
    height: 40px;
    background: #C9B1D0;
    border-radius: 10px;
    border: 1px solid #b59dbc;
    margin: 5px;
}

#contentwrap {
    width: 1000;
    float: left;
    margin: 0 auto;
}

#content {
    background: #E7717D;
    border-radius: 10px;
    border: 1px solid #d35d69;
    margin: 5px;
}

#footerwrap {
    width: 1000px;
    float: left;
    margin: 0 auto;
    clear: both;
}

#footer {
    height: 40px;
    background: #33FF66;
    border-radius: 10px;
    border: 1px solid #1feb52;
    margin: 5px;
}
